/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html,body{
background-image: url('https://images.caricos.com/m/mercedes-benz/2019_mercedes-benz_cls/images/1920x1080/2019_mercedes-benz_cls_48_1920x1080.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
height: 85%;
font-family: 'Open Sans', sans-serif;
}

.bg-dark {
    background-color: black !important;
}

.btn-danger {
    background-color: #FF1616 !important;
}


nav {
    box-shadow: 0 0 2rem 1px rgb(27, 27, 27);
}

.container{
height: 100%;
align-content: center;
display: flex;
flex-direction: row;


}



.navbar{
    font-size: 25px;   
    color: white;
}

#cardBody{
   
    /* width: 400px;
    height: 450px; */
}

#title{
    margin-top: 90px;
    height: 100px;
    font-size: 5em;
    color: white;
    text-align: center;
}

#titleS{
     
    color: white;
    text-align: center;
}

.card{

margin-top: auto;
margin-bottom: auto;

background-color: rgba(0,0,0,0.5) !important;
font-size: large;
}


.form-control{
    font-size: large;
}


.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.row{
    margin-top: 3em;
    color: white;
    
}
.input-group-prepend span{
width: 120px;
background-color: #FF1616;
color: white;
border:0 !important;

}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}
label{
    color: white;
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #FF1616;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

